@import "style.css"; /* подключение одного css в другой; в самом вверху */ /*Уникальный стиль для animals.html*/
@import "flex.css";
.animal-photo {
    position: relative;
    top: 0;
    left: 0;
}

/*селектор потомка, (один элемент внутри другого)*/
.animal-photo q { /*браузер сначало ищет потомка (q)*/
    position: absolute;
    top: 20px;
    left: 20px;
    color: whitesmoke;
}
.take-home {
    padding: 10px 60px; /*раздвигаем рамки от текста ссылки, вверхниз, левоправо*/
    background: orangered;
    color: whitesmoke;
    border-radius: 10px;
    margin-left: auto; /*выравнивание по праваму краю, если является эт-м flex блока*/
}

a [href] span{} /*все эл-ты span в теге a c атрибутом href/
a .red{} /*все эл-ты класа .red в теге a*/
a.green{} /*все э-ты a c классом .green */

