/*или сетка или свойствами flex, сейчас сетка (12 частей)*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}
.wrap {
    flex-wrap: wrap;
}
.flex-4 {
    flex: 33.33%
}

.flex-6 {
    flex: 50%;
}

.flex-2 {
    flex: 16.66%;
}

.space-around {
    justify-content: space-around;
}
.flex-column {
    display: flex;
    flex-direction: column;

}
/*если flex без сетки, что  бы после выравнивания нее ыбло пустот между кнопками , каждому flex эл-ту надо назначить flex-grow: >0*/