/*коментарий в css файлах* ctrl + / */
/*общие стили*/
body {
    /*свойство: значение*/
    background: whitesmoke; /*цвет фона*/
    color: #333333 ; /*цвет шрифта*/
    font-size: 20px; /*размер шрифта*/
    margin: 0; /*при 0 не надо едщ изм, отступ убрали по умолчпанию баузерный, см base-styles.css*/
}/*селектор тега*/
header {
    background: lightgray;
}
footer {
    background: navy;
}
img {
    width: 100%; /*ширина, % относительно родительского эл-та, из верстки все размеры убираем, ширина в px е задется практически никогда*/
    height: auto; /*высота, px не измсеняемый, % меняет размер*/
}
a {
    text-decoration: none; /*none - убрать любые стили косательно тега*/
}
ul {
    list-style-type: none; /*вид маркера в спсиках*/
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px; /*максимальная ширина эл-та 960-1200*/
    margin: 0 auto; /*центрирование эл-та*/
}/*селектор калсса; имя класса придумываешь сам*/
.find-friend {
    display: none; /*скрыть элемент*/
}

